.body{
    background-color: antiquewhite;
}
.h12{
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
}
.select{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
}


/* ホバー時のスタイル */
select:hover {
    border-color: #888;
}

/* フォーカス時のスタイル */
select:focus {
    border-color: #555;
    outline: none;
}

/* オプションのスタイル */
select option {
    padding: 10px;
}
.btn{
    margin-top: 13px;
}
.outimg{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}
.divdiv{
    position: relative;
    display: flex;
    margin-left: 0px;
}
.out2{
    margin-top: 10%;
}